body {
    font-family: "Montserrat", sans-serif;
}

.hero__image {
    background: url(heroimage.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.hero__wrapper {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__wrapper h1 {
    font-size: 2.4rem;
    text-align: center;
}

.hero__wrapper span {
    display: inline-block;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}

.form__code .post__code {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    border: none;
    padding: 0.6rem;
    outline: none;
}

.form__code {
    text-align: center;
}

.form__code button {
    width: 40%;
    display: inline-block;
    text-align: center;
    background-color: #00bab1;
    color: white;
    padding: 0.6rem;
    margin: 1rem auto 0rem;
    border: none;
    border-radius: 0.3rem;
}


/* Product Section */

.product {
    width: 80%;
    margin-right: auto;
    margin-top: 1rem;
    margin-left: auto;
}

.product__list__item {
    float: left;
    width: 32.33%;
    margin-left: 0.5rem;
}

.product__list__item:first-of-type {
    margin-left: 0;
}


/* Utility Classes */

.img__responsive {
    max-width: 100%;
}


/* Responsivesness */

@media screen and (max-width: 700px) {
    .product__list__item {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 320px) {
    input::placeholder {
        font-size: x-small;
    }
    .hero__wrapper span {
        margin-left: 0.1rem;
    }
    .form__code button {
        font-size: small;
    }
}